### Imports

In [1]:
import pandas as pd

### 0. Carregar les dades i `.info()`.

In [5]:
df = pd.read_csv("data/film_rentals.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16044 entries, 0 to 16043
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rental_id              16044 non-null  int64
 1   rental_date            16044 non-null  object
 2   return_date            15861 non-null  object
 3   customer_lastname      16044 non-null  object
 4   store_id               16044 non-null  int64
 5   rental_store_city      15724 non-null  object
 6   film_title             16044 non-null  object
 7   film_rental_duration   16044 non-null  int64
 8   film_rental_rate       16044 non-null  float64
 9   film_replacement_cost  14420 non-null  float64
 10  film_rating            14440 non-null  object
dtypes: float64(2), int64(3), object(6)
memory usage: 1.3+ MB

,rental_id,rental_date,return_date,customer_lastname,store_id,rental_store_city,film_title,film_rental_duration,film_rental_rate,film_replacement_cost,film_rating
0,1,2005-05-24 22:53:30,2005-05-26 22:04:30,HUNTER,1,Lethbridge,BLANKET BEVERLY,7,2.99,21.99,NaN
1,2,2005-05-24 22:54:33,2005-05-28 19:40:33,COLLAZO,2,Woodridge,FREAKY POCUS,7,2.99,16.99,R
2,3,2005-05-24 23:03:39,2005-06-01 22:12:39,MURRELL,2,Woodridge,GRADUATE LORD,7,2.99,14.99,G
3,4,2005-05-24 23:04:41,2005-06-03 01:43:41,PURDY,1,Lethbridge,LOVE SUICIDES,6,0.99,21.99,R
4,5,2005-05-24 23:05:21,2005-06-02 04:33:21,HANSEN,2,Woodridge,IDOLS SNATCHERS,5,2.99,29.99,NC-17

#### 0.1. Descripció dels atributs de la taula de lloguers

| Atribut | Descripció |
|----------|-------------|
| `rental_id` | Identificador únic de cada lloguer. |
| `rental_date` | Data i hora en què es va realitzar el lloguer. |
| `return_date` | Data i hora en què el client va retornar la pel·lícula. |
| `customer_lastname` | Cognom del client que ha fet el lloguer. |
| `store_id` | Identificador de la botiga on s’ha fet el lloguer. |
| `rental_store_city` | Ciutat on es troba la botiga del lloguer. |
| `film_title` | Títol original de la pel·lícula llogada. |
| `film_rental_duration` | Durada del període de lloguer programat (en dies). |
| `film_rental_rate` | Preu del lloguer de la pel·lícula per dia (€/dia). |
| `film_replacement_cost` | Cost de substitució (€) de la pel·lícula si es perd o es fa malbé. |
| `film_rating` | Classificació per edats de la pel·lícula (ex. G, PG, PG-13, R). |

### 1. Preprocessat:

#### 1.1. Identifica quins atributs del dataset són categòris, quins són numèriques i quins són dates.
Fes tres llistes amb els noms de les columnes. Pots fer-ho dins una cel·la Markdown.

Categòris: customer_lastname rental_store_city film_title
Numèriques: rental_id store_id film_rental_duration film_rental_rate film_replacement_cost
Dates: rental_date return_date

#### 1.2. Comprova que les dades numèriques es troben dins uns rangs coherents per la descripció de l'atribut.
Justifica si el rangs dels atributs tenen un mínim i/o un màxim teòric. Mostra el valor mínim i el màxim de les dades del DataFrame.

In [18]:
# rental_id Ok
df.rental_id.min() # 1
df.rental_id.max() # 16049

# rental_id store_id Ok
df.store_id.min() # 1
df.store_id.max() # 2

# film_rental_duration Ok rangos adecuados
df.film_rental_duration.min() # 3
df.film_rental_duration.max() # 7

# film_rental_rate Ok randos adecuados
df.film_rental_rate.min() # 0.99
df.film_rental_rate.max() # 4.99

# film_replacement_cost Ok randos adecuados
df.film_replacement_cost.min() # 9.99
df.film_replacement_cost.max() # 29.99

29.99

#### 1.3. Per cada atribut categòric dona els valors que pot prendre.
Repeteix l'estructura de l'exemple a l'hora de presentar els resultats.

- `film_rating`:

In [21]:
# customer_lastname  
posibles_et_name = df.customer_lastname.unique()
print(f'Les possibles etiquetes customer_lastname: {posibles_et_name}')

# rental_store_city
posibles_et_name = df.rental_store_city.unique()
print(f'Les possibles etiquetes rental_store_city: {posibles_et_name}')
# film_title
posibles_et_name = df.film_title.unique()
print(f'Les possibles etiquetes film_title: {posibles_et_name}')

Les possibles etiquetes són: ['G', 'PG', 'PG-13']
Les possibles etiquetes customer_lastname: ['HUNTER' 'COLLAZO' 'MURRELL' 'PURDY' 'HANSEN' 'CHRISTENSON' 'WALTERS'
 'ROMERO' 'SIMPSON' 'ISOM' 'BURNS' 'BYRD' 'MCWHORTER' 'CULP' 'WEINER'
 'CURLEY' 'OGLESBY' 'MARTINEZ' 'RICKETTS' 'HARPER' 'MORRELL' 'FORTIER'
 'LOVELACE' 'FRALEY' 'BAKER' 'POULIN' 'BAUGHMAN' 'REID' 'TURNER' 'HOULE'
 'WHEAT' 'GEORGE' 'CALDWELL' 'DUGGAN' 'VU' 'HUGHES' 'ELROD' 'SILVERMAN'
 'CASTILLO' 'YEE' 'WATKINS' 'GUAJARDO' 'RENNER' 'QUIGLEY' 'MILLER' 'GREEN'
 'CASTRO' 'SANBORN' 'GARCIA' 'HOLLAND' 'RHOADS' 'GARDINER' 'HOLT' 'HICKS'
 'BENNER' 'DAVIS' 'MAHAN' 'ALLARD' 'FOWLER' 'CARBONE' 'BALES' 'ARCE'
 'SIMPKINS' 'LONG' 'MARSHALL' 'ORTIZ' 'MCCRARY' 'BROOKS' 'HAYES' 'EVANS'
 'GAMEZ' 'TERRY' 'EASTER' 'SMITH' 'REA' 'MASON' 'DAY' 'LINTON' 'LUCAS'
 'MCCARTNEY' 'KRAUS' 'RALSTON' 'HERRERA' 'ROBERT' 'MORRIS' 'OUTLAW'
 'WALKER' 'WADE' 'CRAIG' 'PETERS' 'HARDISON' 'EDWARDS' 'HOPKINS' 'WHEELER'
 'CARY' 'GRAF' 'STEPP' 'CABRAL' 'COLE' 'AUSTIN' 'BAUGH' 'FRAZIER'
 'BARCLAY' 'BURTON' 'KINDER' 'FOSTER' 'SEWARD' 'WILES' 'ELY' 'STEWART'
 'SCHWARZ' 'SCHOFIELD' 'LOWE' 'ROBERTS' 'MENDOZA' 'FENNELL' 'GONZALES'
 'CARTER' 'LEWIS' 'COOK' 'BUNN' 'HITE' 'GILBERT' 'ROYAL' 'ADAM'
 'ARCHULETA' 'STCLAIR' 'DOUGLAS' 'NGO' 'FLORES' 'ROBINS' 'RHODES' 'RICO'
 'COLEMAN' 'BONE' 'JENNINGS' 'ISBELL' 'WHITE' 'MORGAN' 'QUINTANILLA'
 'BARBEE' 'SHERROD' 'BILLINGSLEY' 'ABNEY' 'CHAMBERS' 'LANE' 'HALE'
 'GRAHAM' 'PALMER' 'HILL' 'MORRISSEY' 'CARRANZA' 'BULL' 'BOUDREAU' 'WOODS'
 'CARROLL' 'MILAM' 'WALDROP' 'PARKER' 'CORNISH' 'SANDERS' 'STANFIELD'
 'SILVA' 'GRUBER' 'WEBB' 'RAPP' 'BURKE' 'MORENO' 'BUTTERFIELD' 'NEUMANN'
 'CURTIS' 'HERNANDEZ' 'PFEIFFER' 'RUIZ' 'KNOTT' 'ROGERS' 'JAMES' 'SCHULER'
 'HIDALGO' 'ROBINSON' 'WEST' 'HERZOG' 'ELLIS' 'ARTIS' 'COUGHLIN' 'ARNOLD'
 'MURPHY' 'BROTHERS' 'GRIFFIN' 'BUTLER' 'GOMEZ' 'GRECO' 'MEADOR' 'TIRADO'
 'GORDON' 'JENKINS' 'BOSTIC' 'WYMAN' 'DELOACH' 'MORRISON' 'CHISHOLM'
 'RINEHART' 'BELL' 'WAUGH' 'MENA' 'CHURCHILL' 'MONTGOMERY' 'HAMILTON'
 'JOHNSTON' 'PEMBERTON' 'STONE' 'WELCH' 'FORD' 'NOLAND' 'BOLIN' 'SCHMIDT'
 'RILEY' 'PINSON' 'HEATON' 'LEONE' 'CORNWELL' 'CRAWLEY' 'CLARK' 'DEAN'
 'AQUINO' 'BREWER' 'SATTERFIELD' 'ESTEP' 'LAWSON' 'SIMMONS' 'ELLIOTT'
 'TROUT' 'HENRY' 'PHILLIPS' 'PIERCE' 'VANHORN' 'MARKHAM' 'HUDSON'
 'THOMPSON' 'HENDERSON' 'MALCOLM' 'HOWARD' 'BETANCOURT' 'SCHILLING'
 'FORSYTHE' 'JUNG' 'KENYON' 'EMMONS' 'SELBY' 'JIMENEZ' 'MOELLER' 'FIELDS'
 'HIATT' 'RYAN' 'GARRETT' 'MEDINA' 'BAILEY' 'BENNETT' 'JOHNSON' 'WREN'
 'SHAW' 'LAMBERT' 'BURK' 'SULLIVAN' 'JACOBS' 'BOWMAN' 'TORRES' 'GANNON'
 'CHAVEZ' 'MARTIN' 'BARNETT' 'STEPHENS' 'NOE' 'CHAPMAN' 'CULPEPPER'
 'OLIVARES' 'ADAMS' 'MOORE' 'CRUZ' 'ROSE' 'MILNER' 'BARKLEY' 'KELLEY'
 'MILLS' 'ROBERTSON' 'BOYD' 'LAWTON' 'HOWLAND' 'RODRIGUEZ' 'BATES'
 'JORDON' 'KOWALSKI' 'TEEL' 'ANDREWS' 'PENA' 'WILLIAMSON' 'YOUNG'
 'REYNOLDS' 'NOLEN' 'ELLINGTON' 'CAMPBELL' 'SPURLOCK' 'BERRY' 'PERRY'
 'ALVAREZ' 'JOY' 'HOWELL' 'CHESTNUT' 'DANIELS' 'GREGORY' 'HAVENS'
 'PERKINS' 'WEAVER' 'VEST' 'WILLIAMS' 'CLARY' 'WAY' 'FLETCHER' 'WILLIS'
 'PATTERSON' 'STEVENS' 'GUILLEN' 'FARNSWORTH' 'NETTLES' 'BOWENS' 'VARNEY'
 'BUSTAMANTE' 'GAFFNEY' 'MYERS' 'GRANT' 'HAWKINS' 'FORMAN' 'LOPEZ'
 'MATTOX' 'MEEK' 'BOURQUE' 'BRYANT' 'STANLEY' 'GEARY' 'COX' 'SEAL' 'MILES'
 'FRANKLIN' 'HOLMES' 'HART' 'OWENS' 'HAWKS' 'TOMLIN' 'FISHER' 'JORDAN'
 'HAUSER' 'HURTADO' 'WARREN' 'FERNANDEZ' 'MATTHEWS' 'HERRMANN' 'TROUTMAN'
 'GOODEN' 'HARKINS' 'ROBB' 'WALLACE' 'GAITHER' 'REED' 'BURLESON' 'POWER'
 'COY' 'CARLSON' 'KNIGHT' 'PRICE' 'OCAMPO' 'RAY' 'BRADLEY' 'FOX' 'TAN'
 'GRAY' 'MCDUFFIE' 'GRIGSBY' 'HANSON' 'BREAUX' 'WATTS' 'CAUSEY' 'QUALLS'
 'HANNON' 'BUFORD' 'MOTLEY' 'OLVERA' 'CHOATE' 'GREY' 'GUNDERSON' 'SAUER'
 'MACKENZIE' 'RATCLIFF' 'BESS' 'LARSON' 'MADRIGAL' 'KRUGER' 'PEREZ'
 'GANDY' 'SHANKS' 'OBRIEN' 'THRASHER' 'LUMPKIN' 'PAYNE' 'PULLEN' 'MAHON'
 'GILMAN' 'HUNT' 'BLAKELY' 'CURRIER' 'POWELL' 'MCDONALD' 'SHELLEY'
 'HOFFMAN' 'HARDER' 'BANKS' 'JENSEN' 'BROWN' 'WHITING' 'GRESHAM' 'GRAVES'
 'CHAPA' 'LANCE' 'MCCARTER' 'SHELBY' 'PREWITT' 'RICE' 'COLLINS' 'BLACK'
 'WELLS' 'CROUSE' 'WATSON' 'ALLEN' 'SLONE' 'PITT' 'MCALISTER' 'HALL'
 'YANEZ' 'WAGNER' 'LYNCH' 'HARVEY' 'GILLETTE' 'CHEATHAM' 'BOX' 'BISHOP'
 'BARNES' 'BRINSON' 'MCCURDY' 'ASHCRAFT' 'MURRAY' 'RUNYON' 'MARLOW'
 'SPEAR' 'WILSON' 'DIAZ' 'SANCHEZ' 'ANDREW' 'PERRYMAN' 'PAINE' 'COOPER'
 'TUCKER' 'GILLILAND' 'LAWRENCE' 'FERGUSON' 'STILL' 'TALBERT' 'HUEY'
 'HARRISON' 'HOLM' 'BROWNLEE' 'KENNEDY' 'REYES' 'WARD' 'GOOCH' 'OLIVER'
 'COLBY' 'WESTMORELAND' 'WOFFORD' 'SHELTON' 'DAVIDSON' 'ANDERSON' 'THOMAS'
 'FREEMAN' 'TUBBS' 'MEYER' 'KAHN' 'SCHRADER' 'LEE' 'CINTRON' 'TOBIAS'
 'GARDNER' 'BARRETT' 'WINDHAM' 'GAVIN' 'BARFIELD' 'RAMIREZ' 'DELUCA'
 'GIBSON' 'CROMWELL' 'SKIDMORE' 'SCROGGINS' 'FULTZ' 'HORTON' 'NEAL'
 'SIKES' 'SLEDGE' 'VARGAS' 'SCARBOROUGH' 'EBERT' 'DEVORE' 'GRISSOM'
 'CARPENTER' 'KELLY' 'CUNNINGHAM' 'FULLER' 'FRANCISCO' 'GREENE' 'FOUST'
 'TAYLOR' 'MORALES' 'RIVERA' 'MCKINNEY' 'ROUSH' 'MAY' 'DIXON' 'VINES'
 'WAGGONER' 'TRUONG' 'NEWSOM' 'PEARSON' 'CARR' 'GONZALEZ' 'SCHWAB' 'ASHER'
 'SPENCER' 'ALEXANDER' 'TURPIN' 'SNYDER' 'JONES' 'MENARD' 'SWAFFORD'
 'RICHARDS' 'DUNCAN' 'SOTO' 'MEEHAN' 'ARSENAULT' 'GARZA' 'THORN' 'MCCOY'
 'GUTIERREZ' 'MARK' 'OLSON' 'CASILLAS' 'IRBY' 'ARMSTRONG' 'DOUGLASS'
 'RAMOS' 'NELSON' 'MILLARD' 'WRIGHT' 'HENNING' 'LYMAN' 'SALISBURY'
 'PORTER' 'FLEMING' 'SUTTON' 'SOUTH' 'RICHARDSON' 'PETERSON' 'CRAWFORD'
 'VASQUEZ' 'KING' 'RODRIQUEZ' 'SCOTT' 'JACKSON' 'EGGLESTON' 'KIM'
 'WASHINGTON' 'RUSSELL' 'MARTINO' 'NGUYEN' 'WOOD' 'NICHOLS' 'DUNN' 'LARUE'
 'HARRIS' 'FORTNER' 'MITCHELL' 'BANDA' 'ROSS' 'DOWD' 'MCADAMS' 'EAST'
 'MARTEL' 'DELVALLE' 'POINDEXTER' 'LOMBARDI' 'MAULDIN' 'LITTLE' 'SIMS']
Les possibles etiquetes rental_store_city: ['Lethbridge' 'Woodridge' nan]
Les possibles etiquetes film_title: ['BLANKET BEVERLY' 'FREAKY POCUS' 'GRADUATE LORD' 'LOVE SUICIDES'
 'IDOLS SNATCHERS' 'MYSTIC TRUMAN' 'SWARM GOLD' 'LAWLESS VISION'
 'MATRIX SNOWMAN' 'HANGING DEEP' 'WHALE BIKINI' 'GAMES BOWFINGER'
 'KING EVOLUTION' 'MONTEREY LABYRINTH' 'PELICAN COMFORTS' 'BOOGIE AMELIE'
 'CONTACT ANONYMOUS' 'ROMAN PUNK' 'HOLLOW JEOPARDY' 'SCISSORHANDS SLUMS'
 'APACHE DIVINE' 'CLOSER BANG' 'REDS POCUS' 'SUN CONFESSIONS' 'WAIT CIDER'
 'EASY GLADIATOR' 'THIEF PELICAN' 'CHAINSAW UPTOWN' 'SONG HEDWIG'
 'WITCHES PANIC' 'STALLION SUNDANCE' 'GOLDMINE TYCOON'
 'MICROCOSMOS PARADISE' 'ENEMY ODDS' 'ESCAPE METROPOLIS'
 'BORROWERS BEDAZZLED' 'MANCHURIAN CURTAIN' 'WIND PHANTOM' 'MINDS TRUMAN'
 'GRIT CLOCKWORK' 'BOILED DARES' 'MASSAGE IMAGE' 'PIRATES ROXANNE'
 'HARRY IDAHO' 'RIDGEMONT SUBMARINE' 'JAWS HARRY' 'GUN BONNIE'
 'PACIFIC AMISTAD' 'HOPE TOOTSIE' 'ELF MURDER' 'TALENTED HOMICIDE'
 'ELEPHANT TROJAN' 'MUSKETEERS WAIT' 'DREAM PICKUP' 'EYES DRIVING'
 'SUBMARINE BED' 'OCTOBER SUBMARINE' 'BINGO TALENTED' 'TRUMAN CRAZY'
 'BEACH HEARTBREAKERS' 'SWEETHEARTS SUSPECTS' 'ALLEY EVOLUTION'
 'SECRET GROUNDHOG' 'DRUMLINE CYCLONE' 'BANGER PINOCCHIO' 'TEEN APOLLO'
 'PURPLE MOVIE' 'INVASION CYCLONE' 'LOATHING LEGALLY' 'JUGGLER HARDLY'
 'CAMELOT VACATION' 'GREEDY ROOTS' 'ROSES TREASURE' 'PATIENT SISTER'
 'ENTRAPMENT SATISFACTION' 'RESERVOIR ADAPTATION' 'MADIGAN DORADO'
 'METROPOLIS COMA' 'FARGO GANDHI' 'BUCKET BROTHERHOOD' 'HANKY OCTOBER'
 'JUMPING WRATH' 'GANDHI KWAI' 'JEEPERS WEDDING' 'ISLAND EXORCIST'
 'PANKY SUBMARINE' 'ANTHEM LUKE' 'COMFORTS RUSH' 'VOYAGE LEGALLY'
 'GOLDFINGER SENSIBILITY' 'ARMAGEDDON LOST' 'RUGRATS SHAKESPEARE'
 'PACKER MADIGAN' 'CANDLES GRAPES' 'METAL ARMAGEDDON'
 'CHAMPION FLATLINERS' 'BLOOD ARGONAUTS' 'ROBBERS JOON' 'VALLEY PACKER'
 'CONFESSIONS MAGUIRE' 'SHOW LORD' 'NETWORK PEAK' 'REMEMBER DIARY'
 'DISCIPLE MOTHER' 'TITANS JERK' 'SNATCH SLIPPER' 'INTERVIEW LIAISONS'
 'OZ LIAISONS' 'WOMEN DORADO' 'COAST RAINBOW' 'WIFE TURN'
 'VALENTINE VANISHING' 'CROOKED FROGMEN' 'FALCON VOLUME' 'AIRPORT POLLOCK'
 'DISTURBING SCARFACE' 'OPERATION OPERATION' 'GUYS FALCON'
 'BACKLASH UNDEFEATED' 'DARN FORRESTER' 'HYDE DOCTOR' 'HUNGER ROOF'
 'VIDEOTAPE ARSENIC' 'TRADING PINOCCHIO' 'SUSPECTS QUILLS'
 'CONNECTICUT TRAMP' 'ROCKETEER MOTHER' 'AMERICAN CIRCUS' 'KISS GLORY'
 'MENAGERIE RUSHMORE' 'TOURIST PELICAN' 'CHICKEN HELLFIGHTERS'
 'CONGENIALITY QUEST' 'WATCH TRACY' 'CRAFT OUTFIELD' 'GONE TROUBLE'
 'STRANGELOVE DESIRE' 'FIDELITY DEVIL' 'CHARIOTS CONSPIRACY'
 'UNFORGIVEN ZOOLANDER' 'DOOM DANCING' 'DADDY PITTSBURGH'
 'OUTBREAK DIVINE' 'MIDSUMMER GROUNDHOG' 'STORM HAPPINESS'
 'FACTORY DRAGON' 'BEHAVIOR RUNAWAY' 'PULP BEVERLY' 'CRUSADE HONEY'
 'LIGHTS DEER' 'SAGEBRUSH CLUELESS' 'HEAVEN FREEDOM' 'EDGE KISSING'
 'KISSING DOLLS' 'DOGMA FAMILY' 'MOTIONS DETAILS' 'STORY SIDE'
 'CREEPERS KANE' 'MOON BUNCH' 'SLEEPY JAPANESE' 'NOTTING SPEAKEASY'
 'SHEPHERD MIDSUMMER' 'SUMMER SCARFACE' 'VISION TORQUE' 'CRANES RESERVOIR'
 'SEATTLE EXPECATIONS' 'FLYING HOOK' 'MASSACRE USUAL' 'MOVIE SHAKESPEARE'
 'LOLA AGENT' 'WASH HEAVENLY' 'NOVOCAINE FLIGHT' 'HONEY TIES'
 'HALF OUTFIELD' 'SWEET BROTHERHOOD' 'ROAD ROXANNE' 'DEEP CRUSADE'
 'HEDWIG ALTER' 'STRAIGHT HOURS' 'EXPENDABLE STALLION' 'CALENDAR GUNFIGHT'
 'ATLANTIS CAUSE' 'GUNFIGHT MOON' 'INSIDER ARIZONA' 'STREETCAR INTENTIONS'
 'CHOCOLAT HARRY' 'ROLLERCOASTER BRINGING' 'HAROLD FRENCH' 'BETRAYED REAR'
 'GRAFFITI LOVE' 'SLACKER LIAISONS' 'COMA HEAD' 'FORREST SONS' 'FISH OPUS'
 'CHRISTMAS MOONSHINE' 'FEATHERS METAL' 'KICK SAVANNAH'
 'PHILADELPHIA WIFE' 'ELIZABETH SHANE' 'SHANE DARKNESS' 'MOURNING PURPLE'
 'PLUTO OLEANDER' 'VAMPIRE WHALE' 'CHICAGO NORTH' 'TRIP NEWTON'
 'CALIFORNIA BIRDS' 'DRAGONFLY STRANGERS' 'CLERKS ANGELS' 'EXCITEMENT EVE'
 'SEABISCUIT PUNK' 'EMPIRE MALKOVICH' 'ANNIE IDENTITY' 'RULES HUMAN'
 'WESTWARD SEABISCUIT' 'IMPACT ALADDIN' 'GRAIL FRANKENSTEIN' 'DIRTY ACE'
 'PEAK FOREVER' 'TITANIC BOONDOCK' 'HIGHBALL POTTER' 'LORD ARIZONA'
 'BLINDNESS GUN' 'VOICE PEACH' 'EAGLES PANKY' 'HANOVER GALAXY'
 'RECORDS ZORRO' 'AGENT TRUMAN' 'BREAKING HOME' 'FAMILY SWEET'
 'UPRISING UPTOWN' 'DROP WATERFRONT' 'IDENTITY LOVER' 'JUNGLE CLOSER'
 'RESURRECTION SILVERADO' 'EARLY HOME' 'SCALAWAG DUCK' 'AUTUMN CROW'
 'LIES TREATMENT' 'DAY UNFAITHFUL' 'GANGS PRIDE' 'FERRIS MOTHER'
 'ARMY FLINTSTONES' 'CHILL LUCK' 'EARRING INSTINCT' 'WIZARD COLDBLOODED'
 'SEA VIRGIN' 'BIRDS PERDITION' 'MADNESS ATTACKS' 'BIKINI BORROWERS'
 'SHREK LICENSE' 'LOUISIANA HARRY' 'MUSCLE BRIGHT' 'BUTTERFLY CHOCOLAT'
 'STONE FIRE' 'DONNIE ALLEY' 'WANDA CHAMBER' 'BAREFOOT MANCHURIAN'
 'SADDLE ANTITRUST' 'ORANGE GRAPES' 'DOUBTFIRE LABYRINTH' 'GORGEOUS BINGO'
 'MOB DUFFEL' 'MUSIC BOONDOCK' 'DORADO NOTTING' 'ARTIST COLDBLOODED'
 'HOLOCAUST HIGHBALL' 'CAUSE DATE' 'HOUSE DYNAMITE' 'NONE SPIKING'
 'NIGHTMARE CHILL' 'STAGECOACH ARMAGEDDON' 'MASK PEACH' 'PATRIOT ROMAN'
 'DOORS PRESIDENT' 'WYOMING STORM' 'LEBOWSKI SOLDIERS' 'MAIDEN HOME'
 'SUPER WYOMING' 'MODEL FISH' 'MALKOVICH PET' 'MISSION ZOOLANDER'
 'FRENCH HOLIDAY' 'HEAD STRANGER' 'FREDDY STORM' 'SWEDEN SHINING'
 'SUNRISE LEAGUE' 'FEUD FROGMEN' 'HALLOWEEN NUTS' 'MERMAID INSECTS'
 'LOCK REAR' 'DARKO DORADO' 'TRAMP OTHERS' 'LABYRINTH LEAGUE'
 'FATAL HAUNTED' 'GHOSTBUSTERS ELF' 'MULAN MOON' 'ROCKY WAR'
 'ICE CROSSING' 'NORTHWEST POLISH' 'WEDDING APOLLO' 'HOBBIT ALIEN'
 'DRIVING POLISH' 'SATURDAY LAMBS' 'ACADEMY DINOSAUR' 'KWAI HOMEWARD'
 'CONTROL ANTHEM' 'ODDS BOOGIE' 'BLADE POLISH' 'RUSH GOODFELLAS'
 'EGYPT TENENBAUMS' 'DARKNESS WAR' 'EFFECT GLADIATOR' 'TIMBERLAND SKY'
 'GLASS DYING' 'HAMLET WISDOM' 'PAST SUICIDES' 'JERK PAYCHECK'
 'SALUTE APOLLO' 'GROUNDHOG UNCUT' 'VOLCANO TEXAS' 'DATE SPEED'
 'FURY MURDER' 'ENGLISH BULWORTH' 'MODERN DORADO' 'CINCINATTI WHISPERER'
 'SOUTH WAIT' 'JADE BUNCH' 'ANYTHING SAVANNAH' 'HEAVYWEIGHTS BEAST'
 'DETECTIVE VISION' 'TROJAN TOMORROW' 'CARIBBEAN LIBERTY' 'BASIC EASY'
 'BROTHERHOOD BLANKET' 'SUPERFLY TRIP' 'DOLLS RAGE' 'FIGHT JAWBREAKER'
 'SILENCE KANE' 'FELLOWSHIP AUTUMN' 'SLIPPER FIDELITY' 'LESSON CLEOPATRA'
 'JINGLE SAGEBRUSH' 'PERSONAL LADYBUGS' 'MAJESTIC FLOATS'
 'CHANCE RESURRECTION' 'DRIVER ANNIE' 'NECKLACE OUTBREAK' 'FORWARD TEMPLE'
 'DOUBLE WRATH' 'ANGELS LIFE' 'HILLS NEIGHBORS' 'WONDERFUL DROP'
 'DOZEN LION' 'RINGS HEARTBREAKERS' 'UNTOUCHABLES SUNRISE'
 'BLACKOUT PRIVATE' 'GALAXY SWEETHEARTS' 'HUNCHBACK IMPOSSIBLE'
 'CLONES PINOCCHIO' 'HOME PITY' 'MOCKINGBIRD HOLLYWOOD' 'LUCKY FLYING'
 'EXPRESS LONELY' 'ATTRACTION NEWTON' 'PAPI NECKLACE' 'WEEKEND PERSONAL'
 'LEGEND JEDI' 'ROBBERY BRIGHT' 'CELEBRITY HORN' 'UNCUT SUICIDES'
 'KNOCK WARLOCK' 'EVERYONE CRAFT' 'AFFAIR PREJUDICE' 'BIRD INDEPENDENCE'
 'WILLOW TRACY' 'GATHERING CALENDAR' 'NOTORIOUS REUNION'
 'CONFIDENTIAL INTERVIEW' 'FLATLINERS KILLER' 'LOSE INCH'
 'BRANNIGAN SUNRISE' 'INDEPENDENCE HOTEL' 'ALIEN CENTER' 'TRAP GUYS'
 'FORRESTER COMANCHEROS' 'PIZZA JUMANJI' 'LIFE TWISTED' 'SPEED SUIT'
 'SCORPION APOLLO' 'EXORCIST STING' 'HOTEL HAPPINESS' 'DESTINY SATURDAY'
 'MILLION ACE' 'LIBERTY MAGNIFICENT' 'CENTER DINOSAUR' 'POLISH BROOKLYN'
 'PARK CITIZEN' 'ILLUSION AMELIE' 'CHISUM BEHAVIOR' 'SHOOTIST SUPERFLY'
 'TREATMENT JEKYLL' 'VIRGINIAN PLUTO' 'ISHTAR ROCKETEER' 'BAKED CLEOPATRA'
 'GOODFELLAS SALUTE' 'BALLROOM MOCKINGBIRD' 'SECRETS PARADISE'
 'STATE WASTELAND' 'LION UNCUT' 'HIGH ENCINO' 'HOMICIDE PEACH'
 'HANDICAP BOONDOCK' 'BEAR GRACELAND' 'GLEAMING JAWBREAKER' 'RIVER OUTLAW'
 'DOWNHILL ENOUGH' 'VELVET TERMINATOR' 'DEER VIRGINIAN' 'PINOCCHIO SIMON'
 'RUNAWAY TENENBAUMS' 'GO PURPLE' 'CANDIDATE PERDITION' 'IDAHO LOVE'
 'SLUMS DUCK' 'SHRUNK DIVINE' 'AFRICAN EGG' 'HOLY TADPOLE' 'ARABIA DOGMA'
 'TRAINSPOTTING STRANGERS' 'CHEAPER CLYDE' 'DANCING FEVER'
 'ROOTS REMEMBER' 'ALAMO VIDEOTAPE' 'FOOL MOCKINGBIRD' 'VIRGIN DAISY'
 'REUNION WITCHES' 'JERICHO MULAN' 'WORKING MICROCOSMOS' 'DRACULA CRYSTAL'
 'HELLFIGHTERS SIERRA' 'HAWK CHILL' 'BLUES INSTINCT' 'OTHERS SOUP'
 'SATISFACTION CONFIDENTIAL' 'FANTASY TROOPERS' 'ZORRO ARK'
 'CURTAIN VIDEOTAPE' 'AMADEUS HOLY' 'UNBREAKABLE KARATE' 'BUGSY SONG'
 'CHASING FIGHT' 'MURDER ANTITRUST' 'CONQUERER NUTS' 'QUILLS BULL'
 'RANGE MOONWALKER' 'SCARFACE BANG' 'UNITED PILOT' 'SIEGE MADRE'
 'BEAST HUNCHBACK' 'BEDAZZLED MARRIED' 'TOWN ARK' 'WHISPERER GIANT'
 'MADISON TRAP' 'LOST BIRD' 'DRIFTER COMMANDMENTS' 'SINNERS ATLANTIS'
 'BROOKLYN DESERT' 'LUCK OPUS' 'MILE MULAN' 'TURN STAR' 'TROUBLE DATE'
 'CABIN FLASH' 'PITTSBURGH HUNCHBACK' 'POCUS PULP' 'SASSY PACKER'
 'WARDROBE PHANTOM' 'CLUELESS BUCKET' 'JET NEIGHBORS' 'ALTER VICTORY'
 'DETAILS PACKER' 'SLEEPING SUSPECTS' 'BALLOON HOMEWARD' 'DIARY PANIC'
 'CIRCUS YOUTH' 'GROOVE FICTION' 'ENCOUNTERS CURTAIN' 'LADY STAGE'
 'YENTL IDAHO' 'SOMETHING DUCK' 'CYCLONE FAMILY' 'TRACY CIDER'
 'PREJUDICE OLEANDER' 'HURRICANE AFFAIR' 'RAGING AIRPLANE' 'LOSER HUSTLER'
 'GREASE YOUTH' 'MINE TITANS' 'TELEGRAPH VOYAGE' 'VACATION BOONDOCK'
 'SUIT WALLS' 'CADDYSHACK JEDI' 'MARS ROMAN' 'MIGHTY LUCK'
 'NATIONAL STORY' 'KANE EXORCIST' 'LOVER TRUMAN' 'HUNTING MUSKETEERS'
 'ALONE TRIP' 'GREATEST NORTH' 'WORST BANGER' 'ROXANNE REBEL'
 'SPEAKEASY DATE' 'GIANT TROOPERS' 'BARBARELLA STREETCAR' 'SANTA PARIS'
 'TOOTSIE PILOT' 'MALLRATS UNITED' 'OUTFIELD MASSACRE' 'PICKUP DRIVING'
 'SLEUTH ORIENT' 'KARATE MOON' 'DURHAM PANKY' 'PRIX UNDEFEATED'
 'BEAUTY GREASE' 'CAT CONEHEADS' 'HORROR REIGN' 'NASH CHOCOLAT'
 'CLUB GRAFFITI' 'PILOT HOOSIERS' 'POTLUCK MIXED' 'DOCTOR GRAIL'
 'DYING MAKER' 'LEGALLY SECRETARY' 'LANGUAGE COWBOY' 'SLEEPLESS MONSOON'
 'CIDER DESIRE' 'OLEANDER CLUE' 'MADRE GABLES' 'DYNAMITE TARZAN'
 'JOON NORTHWEST' 'STREAK RIDGEMONT' 'COLOR PHILADELPHIA' 'CLASH FREDDY'
 'NOON PAPI' 'FROST HEAD' 'NEWTON LABYRINTH' 'MONSTER SPARTACUS'
 'FIREBALL PHILADELPHIA' 'BRIDE INTRIGUE' 'GILMORE BOILED'
 'CONEHEADS SMOOCHY' 'GARDEN ISLAND' 'STRANGER STRANGERS' 'INDIAN LOVE'
 'MALTESE HOPE' 'GABLES METROPOLIS' 'SOUP WISDOM' 'CHARADE DUFFEL'
 'MEET CHOCOLATE' 'CLEOPATRA DEVIL' 'ALASKA PHANTOM' 'STRANGERS GRAFFITI'
 'OPEN AFRICAN' 'BERETS AGENT' 'POND SEATTLE' 'DECEIVER BETRAYED'
 'HEAVENLY GUN' 'TEMPLE ATTRACTION' 'JEDI BENEATH' 'HOURS RAGE'
 'DARES PLUTO' 'LONELY ELEPHANT' 'GHOST GROUNDHOG' 'DALMATIONS SWEDEN'
 'PATTON INTERVIEW' 'CASUALTIES ENCINO' 'SMOKING BARBARELLA'
 'DWARFS ALTER' 'PRINCESS GIANT' 'SHIP WONDERLAND' 'ZOOLANDER FICTION'
 'ZHIVAGO CORE' 'CRUELTY UNFORGIVEN' 'UPTOWN YOUNG' 'STAR OPERATION'
 'TIES HUNGER' 'MOSQUITO ARMAGEDDON' 'ENOUGH RAGING'
 'FLAMINGOS CONNECTICUT' 'REAR TRADING' 'NEIGHBORS CHARADE'
 'EXPECATIONS NATURAL' 'SAVANNAH TOWN' 'HAUNTING PIANIST' 'WEREWOLF LOLA'
 'SPICE SORORITY' 'PUNK DIVORCE' 'QUEEN LUKE' 'CONNECTION MICROCOSMOS'
 'TENENBAUMS COMMAND' 'STEPMOM DREAM' 'REIGN GENTLEMEN' 'PURE RUNNER'
 'VIETNAM SMOOCHY' 'VANISHING ROCKY' 'ROOM ROMAN' 'LOLITA WORLD'
 'ENDING CROWDS' 'SOLDIERS EVOLUTION' 'FINDING ANACONDA' 'JASON TRAP'
 'TOWERS HURRICANE' 'CAPER MOTIONS' 'PITY BOUND' 'REQUIEM TYCOON'
 'ANACONDA CONFESSIONS' 'BRIGHT ENCOUNTERS' 'OPPOSITE NECKLACE'
 'MIDNIGHT WESTWARD' 'BOULEVARD MOB' 'OPUS ICE' 'TELEMARK HEARTBREAKERS'
 'TRANSLATION SUMMER' 'NORTH TEQUILA' 'SHAKESPEARE SADDLE' 'IGBY MAKER'
 'NAME DETECTIVE' 'UNDEFEATED DALMATIONS' 'WEST LION' 'FOREVER CANDIDATE'
 'DAISY MENAGERIE' 'WORDS HUNTER' 'RUN PACIFIC' 'EGG IGBY' 'SUNSET RACER'
 'ROUGE SQUAD' 'MOONWALKER FOOL' 'CORE SUIT' 'GENTLEMEN STAGE'
 'MOONSHINE CABIN' 'ADAPTATION HOLES' 'TOMORROW HUSTLER'
 'DARLING BREAKING' 'INTRIGUE WORST' 'MARRIED GO' 'POTTER CONNECTICUT'
 'SAMURAI LION' 'NATURAL STOCK' 'DEVIL DESIRE' 'INTOLERABLE INTENTIONS'
 'SNOWMAN ROLLERCOASTER' 'PEACH INNOCENT' 'MOD SECRETARY' 'DAWN POND'
 'JEKYLL FROGMEN' 'LIAISONS SWEET' 'LICENSE WEEKEND' 'PERFECT GROOVE'
 'PRIDE ALAMO' 'CAMPUS REMEMBER' 'HORN WORKING' 'WONDERLAND CHRISTMAS'
 'BREAKFAST GOLDFINGER' 'SPIKING ELEMENT' 'STEEL SANTA'
 'WATERFRONT DELIVERANCE' 'JACKET FRISCO' 'SPOILERS HELLFIGHTERS'
 'WRATH MILE' 'DIVORCE SHINING' 'DANCES NONE' 'BILKO ANONYMOUS'
 'DUDE BLINDNESS' 'INSTINCT AIRPORT' 'TORQUE BOUND' 'WASTELAND DIVINE'
 'ANTITRUST TOMATOES' 'BONNIE HOLOCAUST' 'MIRACLE VIRTUAL'
 'USUAL UNTOUCHABLES' 'PLATOON INSTINCT' 'SUNDANCE INVASION' 'SUGAR WONKA'
 'POLLOCK DELIVERANCE' 'BABY HALL' 'MOTHER OLEANDER' 'WAGON JAWS'
 'DIVINE RESURRECTION' 'TIGHTS DAWN' 'MINORITY KISS' 'REAP UNFAITHFUL'
 'WON DARES' 'DESERT POSEIDON' 'SPY MILE' 'SHOCK CABIN' 'INNOCENT USUAL'
 'WINDOW SIDE' 'PARIS WEEKEND' 'DESIRE ALIEN' 'HOLIDAY GAMES'
 'WILD APOLLO' 'WOLVES DESIRE' 'JEOPARDY ENCINO' 'UNFAITHFUL KILL'
 'AMISTAD MIDSUMMER' 'CITIZEN SHREK' 'PRIMARY GLASS' 'NUTS TIES'
 'FLINTSTONES HAPPINESS' 'BILL OTHERS' 'INSECTS STONE' 'BADMAN DAWN'
 'LEAGUE HELLFIGHTERS' 'HUSTLER PARTY' 'MUMMY CREATURES'
 'ALADDIN CALENDAR' 'EARTH VISION' 'BRINGING HYSTERICAL' 'EVOLUTION ALTER'
 'COMANCHEROS ENEMY' 'BEETHOVEN EXORCIST' 'SECRETARY ROUGE'
 'REBEL AIRPORT' 'THIN SAGEBRUSH' 'COLDBLOODED DARLING' 'TYCOON GATHERING'
 'TOMATOES HELLFIGHTERS' 'DIVIDE MONSTER' 'CARRIE BUNCH'
 'ARACHNOPHOBIA ROLLERCOASTER' 'BOUND CHEAPER' 'ARIZONA BANG'
 'SPIRIT FLINTSTONES' 'REEF SALUTE' 'RANDOM GO' 'SNATCHERS MONTEZUMA'
 'WORLD LEATHERNECKS' 'VARSITY TRIP' 'BANG KWAI' 'RUSHMORE MERMAID'
 'FLASH WARS' 'TAXI KICK' 'CLOCKWORK PARADISE' 'STAMPEDE DISTURBING'
 'SPLASH GUMP' 'STEERS ARMAGEDDON' 'FLIGHT LIES' 'VANILLA DAY' 'MAUDE MOD'
 'ORIENT CLOSER' 'STOCK GLASS' 'LOVERBOY ATTACKS' 'SPLENDOR PATTON'
 'CONFUSED CANDLES' 'STRICTLY SCARFACE' 'ANALYZE HOOSIERS' 'PARTY KNOCK'
 'FANTASIA PARK' 'CANYON STOCK' 'ANONYMOUS HUMAN' 'ENCINO ELF'
 'RIGHT CRANES' 'STAGE WORLD' 'SPIRITED CASUALTIES' 'RACER EGG'
 'HYSTERICAL GRAIL' 'STING PERSONAL' 'JUMANJI BLADE' 'BOWFINGER GABLES'
 'GRAPES FURY' 'CUPBOARD SINNERS' 'BULWORTH COMMANDMENTS' 'OSCAR GOLD'
 'SHAWSHANK BUBBLE' 'SMILE EARRING' 'CREATURES SHAKESPEARE' 'FIDDLER LOST'
 'LUST LOCK' 'SONS INTERVIEW' 'CASPER DRAGONFLY' 'PAYCHECK WAIT'
 'CASABLANCA SUPER' 'LADYBUGS ARMAGEDDON' 'MAGNIFICENT CHITTY'
 'HARPER DYING' 'HOLLYWOOD ANONYMOUS' 'BULL SHAWSHANK' 'MULHOLLAND BEAST'
 'COWBOY DOOM' 'MASKED BUBBLE' 'AMELIE HELLFIGHTERS' 'COMMAND DARLING'
 'MAGIC MALLRATS' 'GREEK EVERYONE' 'JAWBREAKER BROOKLYN'
 'KRAMER CHOCOLATE' 'KILLER INNOCENT' 'SEARCHERS WAIT' 'INCH JET'
 'POSEIDON FOREVER' 'GUNFIGHTER MUSSOLINI' 'SABRINA MIDNIGHT'
 'VIRTUAL SPOILERS' 'SATURN NAME' 'EXTRAORDINARY CONQUERER'
 'LOVELY JINGLE' 'SMOOCHY CONTROL' 'PHANTOM GLORY' 'WAR NOTTING'

#### 1.4. Pels atributs que corresponen a dates, assegure't que són tipus `datetime64`.

En cas que no siguin d'aquest tipus converteix el tipus de la columna.

In [25]:
if not pd.api.types.is_datetime64_any_dtype(df["rental_date"]):
    df["rental_date"] = pd.to_datetime(df["rental_date"])

if not pd.api.types.is_datetime64_any_dtype(df["return_date"]):
    df["return_date"] = pd.to_datetime(df["return_date"])

df

,rental_id,rental_date,return_date,customer_lastname,store_id,rental_store_city,film_title,film_rental_duration,film_rental_rate,film_replacement_cost,film_rating
0,1,2005-05-24 22:53:30,2005-05-26 22:04:30,HUNTER,1,Lethbridge,BLANKET BEVERLY,7,2.99,21.99,NaN
1,2,2005-05-24 22:54:33,2005-05-28 19:40:33,COLLAZO,2,Woodridge,FREAKY POCUS,7,2.99,16.99,R
2,3,2005-05-24 23:03:39,2005-06-01 22:12:39,MURRELL,2,Woodridge,GRADUATE LORD,7,2.99,14.99,G
3,4,2005-05-24 23:04:41,2005-06-03 01:43:41,PURDY,1,Lethbridge,LOVE SUICIDES,6,0.99,21.99,R
4,5,2005-05-24 23:05:21,2005-06-02 04:33:21,HANSEN,2,Woodridge,IDOLS SNATCHERS,5,2.99,29.99,NC-17
...,...,...,...,...,...,...,...,...,...,...,...
16039,16045,2005-08-23 22:25:26,2005-08-25 23:54:26,WHITE,1,Lethbridge,COMANCHEROS ENEMY,5,0.99,23.99,R
16040,16046,2005-08-23 22:26:47,2005-08-27 18:02:47,KELLY,2,Woodridge,VOYAGE LEGALLY,6,0.99,28.99,NaN
16041,16047,2005-08-23 22:42:48,2005-08-25 02:48:48,ELLIS,2,Woodridge,ILLUSION AMELIE,4,0.99,15.99,R
16042,16048,2005-08-23 22:43:07,2005-08-31 21:33:07,HAMILTON,1,NaN,HUNCHBACK IMPOSSIBLE,4,4.99,28.99,PG-13
16043,16049,2005-08-23 22:50:12,2005-08-30 01:01:12,CAUSEY,2,Woodridge,MOB DUFFEL,4,0.99,25.99,G

#### 1.5. Comprova la coherència de les dades.
Indica quines relacions esperes que es mantenguin. Comprova si es mantenen o no.

In [28]:
df["have_coherence"] = df.rental_date < df.return_date

df["have_coherence"].value_counts()

have_coherence
True     15861
False      183
Name: count, dtype: int64

#### 1.6. Hi ha dades perdudes? Imputa-les si pots. 
Indica quins atributs tenen dades perdudes i tria una estratègia per imputar-les. Imputa les dades en un nou DataFrame `df_clean`.
Fes-ho repetint l'estructura següent:

In [30]:
df_clean = df.copy()

- `return_date`: Les files sense data de retorn es poden eliminar.

In [31]:
df.rental_store_city.unique()

array(['Lethbridge', 'Woodridge', nan], dtype=object)

- `una_altre_atribut`: ...

In [32]:
df.isna().sum()

rental_id                   0
rental_date                 0
return_date               183
customer_lastname           0
store_id                    0
rental_store_city         320
film_title                  0
film_rental_duration        0
film_rental_rate            0
film_replacement_cost    1624
film_rating              1604
have_coherence              0
dtype: int64

In [44]:
df_clean["return_date"] = df_clean["return_date"].fillna(pd.NaT)
df_clean["rental_store_city"] = df_clean["rental_store_city"].fillna(df_clean["rental_store_city"].mode()[0])
df_clean["film_replacement_cost"] = df_clean["film_replacement_cost"].fillna(df_clean["film_replacement_cost"].median())
df_clean["film_rating"] = df_clean["film_rating"].fillna(df_clean["film_rating"].mode()[0])

In [45]:
df_clean.isna().sum()

rental_id                0
rental_date              0
return_date              0
customer_lastname        0
store_id                 0
rental_store_city        0
film_title               0
film_rental_duration     0
film_rental_rate         0
film_replacement_cost    0
film_rating              0
have_coherence           0
dtype: int64

#### 1.7. Crea una nova columna `actual_rental_duration` que indica el nombre enter de dies que l'usuari ha tingut la pel·lícula.

In [47]:
df["actual_rental_duration"] =  (df["return_date"] - df["rental_date"]).dt.days
df

,rental_id,rental_date,return_date,customer_lastname,store_id,rental_store_city,film_title,film_rental_duration,film_rental_rate,film_replacement_cost,film_rating,have_coherence,actual_rental_duration
0,1,2005-05-24 22:53:30,2005-05-26 22:04:30,HUNTER,1,Lethbridge,BLANKET BEVERLY,7,2.99,21.99,NaN,True,1.0
1,2,2005-05-24 22:54:33,2005-05-28 19:40:33,COLLAZO,2,Woodridge,FREAKY POCUS,7,2.99,16.99,R,True,3.0
2,3,2005-05-24 23:03:39,2005-06-01 22:12:39,MURRELL,2,Woodridge,GRADUATE LORD,7,2.99,14.99,G,True,7.0
3,4,2005-05-24 23:04:41,2005-06-03 01:43:41,PURDY,1,Lethbridge,LOVE SUICIDES,6,0.99,21.99,R,True,9.0
4,5,2005-05-24 23:05:21,2005-06-02 04:33:21,HANSEN,2,Woodridge,IDOLS SNATCHERS,5,2.99,29.99,NC-17,True,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16039,16045,2005-08-23 22:25:26,2005-08-25 23:54:26,WHITE,1,Lethbridge,COMANCHEROS ENEMY,5,0.99,23.99,R,True,2.0
16040,16046,2005-08-23 22:26:47,2005-08-27 18:02:47,KELLY,2,Woodridge,VOYAGE LEGALLY,6,0.99,28.99,NaN,True,3.0
16041,16047,2005-08-23 22:42:48,2005-08-25 02:48:48,ELLIS,2,Woodridge,ILLUSION AMELIE,4,0.99,15.99,R,True,1.0
16042,16048,2005-08-23 22:43:07,2005-08-31 21:33:07,HAMILTON,1,NaN,HUNCHBACK IMPOSSIBLE,4,4.99,28.99,PG-13,True,7.0
16043,16049,2005-08-23 22:50:12,2005-08-30 01:01:12,CAUSEY,2,Woodridge,MOB DUFFEL,4,0.99,25.99,G,True,6.0

#### 1.8. Guarda el dataframe amb els canvis a la carpeta `data` com `film_rentals_data.csv`.

In [48]:
df_clean.to_csv("data/film_rentals_data.csv", index=False)

### 2. Anàlisi:

#### 2.1. Raona si el cost de substitució (`film_replacement_cost`) d'una pel·lícula varia segons la seva qualificació (`film_rating`)?

Per raonar la teva resposta mostra una taula que contengui la mitjana i desviació estàndard de `film_replacement_cost` per cada `film_rating`, usa `.groupby()`.

In [55]:
movies_mean = df_clean.groupby("rental_id").mean(numeric_only=True)
movies_mean.head()
df_clean.groupby("film_rating")["film_replacement_cost"].agg(["mean", "std"])

,store_id,film_rental_duration,film_rental_rate,film_replacement_cost,have_coherence
rental_id,,,,,
1,1.0,7.0,2.99,21.99,1.0
2,2.0,7.0,2.99,16.99,1.0
3,2.0,7.0,2.99,14.99,1.0
4,1.0,6.0,0.99,21.99,1.0
5,2.0,5.0,2.99,29.99,1.0

#### 2.2. Estudia la diferència entre la duració programada del lloguer i els dies de lloguer real.

 - Crea una nova columna `rental_duration_difference` que indiqui la diferència entre el nombre de dies que el client ha tingut la película i el nombre de dies pel que va programar el lloguer. Aquesta columna ha d'indicar zero si el client ha tornat la película el dia programat, un nombre negatiu de dies si l'ha tornada abans de la data programada o un nombre posatiu si l'ha tornada després de la data.

- Mostra amb un histograma com és la distribució `rental_duration_difference`. Explica quin seria un nombre adequat de `bins`.

- A partir del histograma anterior, raona quina seria una bona mesura de tendència central (la mitjana, la mediana o la moda) per `rental_duration_difference` i calcula-la. A més, calcula la desviació estàndard (`std`).

- Que ens està dient la mesura de tendència central respecte si els retorns es fan (o no) dins el període programat?

- Comprova si la `mean` i la `std` de `actual_rental_duration` canvien respecte els diferents valors de `film_rental_duration`.

- Podem afirmar que la gent té en compte el temps del lloguer (`film_rental_duration`) a l'hora de fer el retorn?

### 2.3. Amplia el catàleg de pel·lícules.

Cada tenda té 4 còpies de cada `film_title`. El propietari de l'empresa vol saber quines películes de les que té l'interesa comprar-ne còpies. 

Dona una llista de 10 pel·lícules per tenda i explica quins criteris seguiràs per crear aquestes llistes. 

Pots ajudar-te dels dos nous DataFrames: `renting_hours_store1` i `renting_hours_store2`. Cada fila et diu el títol, el nombre de lloguers d'aquesta cinta simultanis i quantes hores s'ha donat aquesta situació. Per exemple: `ACADEMY DINOSAUR` ha passat `23.963889` hores on hi havia les 4 còpies llogades a l'hora.

In [134]:
# Funció per calcular temps total amb n lloguers simultanis per film
def rental_overlap_durations(sub_df):
    # Crear esdeveniments
    events_start = sub_df[["rental_date"]].copy()
    events_start["delta"] = 1
    events_end = sub_df[["return_date"]].copy()
    events_end["delta"] = -1

    events_start = events_start.rename(columns={"rental_date": "timestamp"})
    events_end = events_end.rename(columns={"return_date": "timestamp"})
    events = pd.concat([events_start, events_end], ignore_index=True)

    # Ordenar per temps i actualitzar nombre actiu
    events = events.sort_values(by=["timestamp", "delta"])
    events["active"] = events["delta"].cumsum()

    # Calcular temps entre events consecutius
    events["next_time"] = events["timestamp"].shift(-1)
    events["duration"] = (events["next_time"] - events["timestamp"]).dt.total_seconds() / 3600  # hores

    # Ignorar última fila (no té següent)
    events = events.dropna(subset=["duration"])

    # Sumar temps per cada nombre de lloguers actius
    result = (
        events.groupby("active")["duration"]
        .sum()
        .reset_index()
        .rename(columns={"active": "simultaneous_rentals", "duration": "hours"})
    )

    return result


# Aplicar per cada film de cada botiga
renting_hours_store1 = (
    df[df["store_id"] == 1]
      .groupby("film_title")
      .apply(rental_overlap_durations, include_groups=False)
      .reset_index(level=0)
      .reset_index(drop=True)
)

renting_hours_store2 = (
    df[df["store_id"] == 2]
      .groupby("film_title")
      .apply(rental_overlap_durations, include_groups=False)
      .reset_index(level=0)
      .reset_index(drop=True)
)

In [135]:
renting_hours_store1.head(10)

         film_title  simultaneous_rentals        hours
0  ACADEMY DINOSAUR                     0  1306.254167
1  ACADEMY DINOSAUR                     1   505.238889
2  ACADEMY DINOSAUR                     2   284.370278
3  ACADEMY DINOSAUR                     3    90.266111
4  ACADEMY DINOSAUR                     4    23.963889
5  AFFAIR PREJUDICE                     0  1228.538056
6  AFFAIR PREJUDICE                     1   630.803889
7  AFFAIR PREJUDICE                     2   174.916944
8  AFFAIR PREJUDICE                     3   141.123333
9  AFFAIR PREJUDICE                     4    43.310556